name: CI
on: [push]
jobs:
  build:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
#     - name: Force Xcode 11
#       run: sudo xcode-select -switch /Applications/Xcode_11.3.app
    - name: Build
      run: xcodebuild -scheme Sample build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED="NO" CODE_SIGN_ENTITLEMENTS="" CODE_SIGNING_ALLOWED="NO"
    - name: Check_file & Path
      run: ls -l /Users/runner/Library/Developer/Xcode/DerivedData/Sample-ajkvlmokubtdumcligemudukvmyv/Build/Product/Debug-iphoneos


